/*** V3 ***/
* {
    margin: 0;
    padding: 0;   
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background:  #F8DEBD;
}
img{
  width: 90%;
}

h1{
    
    background:  #6F3662;
    border: 2px solidrgb(104, 25, 85);
    color: beige;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}
h2{
    margin-top: 20px;
    background:  #FF7182;
    padding: 10px;
    border: 2px solid rgb(184, 63, 119);
    border-radius: 5px;
    clear: both;
}
h3{
    background: rgb(197, 125, 53);
    padding: 5%;
}

p{
    padding: 3%;
}

section{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/***          mobile            ***/ 

@media only screen and (max-width:500px) {


    /**  float   **/ 
    #grid-floats .grid-item:nth-child(1){
        width: calc(100% - 20px);
       }

       #grid-floats .grid-item{
        float:left;
        width: calc(50% - 20px); 
        margin: 1%;
        background:  #FFAE5D;
        border: 3px solid rgb(197, 125, 53);
        border-radius: 10px;
        height: 400px; 
        overflow: auto;
        }
       
    /**  Flex   **/ 
#grid-flex {
   display: flex;
   flex-wrap: wrap;
}

#grid-flex .grid-item:nth-child(1){
    width: calc(100% - 20px);
}

#grid-flex .grid-item{
    width: calc(50% - 20px); 
    margin: 1%;
    background:  #FFAE5D;
    border: 3px solid rgb(197, 125, 53);
    border-radius: 10px;
    overflow: auto;
}



}

/***          Tablet          ***/ 

@media only screen and (min-width:500px) and (max-width:1024px) {

       /**  float   **/

       section #grid-floats .grid-item:nth-child(1){
        width: 46.3%; 
       }

       section #grid-floats .grid-item:nth-child(2){
        width: 46.3%;
       }

        section #grid-floats .grid-item{
        float:left;
        width: 30%;
        margin: 1%;
        background:  #FFAE5D;
        border: 3px solid rgb(197, 125, 53);
        border-radius: 10px;
        height: 400px; 
        overflow: auto;
        }

       /**  Flex   **/ 
       section #grid-flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    section #grid-flex .grid-item:nth-child(1){
        width: 46.3%; 
    }

    section #grid-flex .grid-item:nth-child(2){
        width: 46.3%;
    }
    
    
    section #grid-flex .grid-item{
        width: 30%;
        margin: 1%;
        background:  #FFAE5D;
        border: 3px solid rgb(197, 125, 53);
        border-radius: 10px;
        overflow: auto;
    }
    
    }


/***          Disctop            ***/ 

@media only screen and (min-width:1025px) {
    
    /**  float   **/ 
    #grid-floats .grid-item:nth-child(1){
        width: 47.3%;
       }

       #grid-floats .grid-item:nth-child(1) img{
           width: 45%;
       }

       #grid-floats .grid-item{
        float:left;
        width:22.3%;
        margin: 1%;
        background:  #FFAE5D;
        border: 3px solid rgb(197, 125, 53);
        border-radius: 10px;
        height: 400px; 
        overflow: auto;
        }

    /**  Flex   **/ 

        #grid-flex {
            display: flex;
            flex-wrap: wrap;
        }
        
        #grid-flex .grid-item:nth-child(1){
            width: 47.3%;
        }
    
        #grid-flex .grid-item:nth-child(1) img{
            width: 50%;
        }

        #grid-flex .grid-item{
            width:22.3%;
            margin: 1%;
            background:  #FFAE5D;
            border: 3px solid rgb(197, 125, 53);
            border-radius: 10px;
            overflow: auto;
        }
        
        }
